/* Мінімальне скидування стилів */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
}
body{
    background-color: #eee;
}
.list-heading{
    font-size: 34px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.task-list{
    padding: 0 30px;
}
.task{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 11px -2px #bbb;
    border-radius: 20px;
    padding: 25px 20px;
    margin-bottom: 15px;
}
.left-side{
    margin-right: 30px;
}
.task-heading{
    margin-bottom: 20px;
    font-size: 22px;
}
.task-heading .task-number{
    background-color: rgb(221, 0, 37);
    color: #fff;
    padding: 7px 10px;
    margin-right: 15px;
    border-radius: 5px;
}
.task-description{
    margin-left: 10px;
    font-size: 17px;
    line-height: 22px;
}
.run-code{
    padding: 10px;
    font-size: 18px;
    background-color: forestgreen;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    transition-duration: 0.7s;
}
.run-code:hover{
    background-color: darkgreen;
}
